@charset "UTF-8";
/*Header*/
header {
  background-color: #FBF2E5;
}
header .logo {
  height: 150px;
}
header ul {
  gap: 20px;
}
header a {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

/*Imagen de bienvenida - Home*/
.contable {
  position: relative;
  text-align: center;
}
.contable img {
  width: 100%;
  height: auto;
  opacity: 0.9;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.texto {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.contable {
  position: relative;
  text-align: center;
}
.contable img {
  width: 100%;
  height: auto;
  opacity: 0.9;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*Servicios - HOME */
.ofrecemos {
  text-align: center;
}
.ofrecemos h1 {
  font-family: "Inter", sans-serif;
}
.ofrecemos .contenido {
  text-align: left;
}
.ofrecemos .contenido p {
  font-size: 50px;
  text-align: left;
}

.principalesServicios {
  text-align: center;
  margin: 60px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
}

.containerservicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
  margin: 20px;
  margin-top: 150px;
}
.containerservicios div {
  text-align: center;
}

.containerservicios img {
  padding: 5px;
  width: 110px;
  height: 110px;
}
.containerservicios img p {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
}

.containerservicios p {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
}

.brindamos {
  display: flex;
  justify-content: center;
  text-align: center;
}
.brindamos p {
  padding: 20px;
  margin: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: "Inter", sans-serif;
}

.contenedor-centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  /* Ajusta la altura según tu diseño */
}
.contenedor-centrado .informate {
  padding: 10px;
  width: 400px;
  margin: 0%;
  justify-content: center;
  text-align: center;
}
.contenedor-centrado .informate p {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  text-align: center;
  margin: 0%;
  justify-content: center;
  font-family: "Inter", sans-serif;
}
.contenedor-centrado .informate a {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  color: rgba(164, 43, 49, 0.8156862745);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.contenedor-centrado .informate a:hover {
  text-decoration: underline;
  color: #591518;
}

/*Footer*/
footer {
  width: 100%;
  background-color: #585656;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.contenedor {
  display: flex;
  align-items: center;
}
.contenedor img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.contenedor p {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-weight: 100;
  margin: 0;
}

.textofooter p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}
.redes p {
  font-family: "Libre Franklin", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  color: #ffffff;
}

.redescontainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.redes img {
  height: 70px;
  width: auto;
  margin-right: 10px;
}

/*body del documento*/
.cuerpo {
  background-color: #FBF2E5;
}

/*Quienes somos*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}
.grid-container img {
  width: 350px;
  height: 100%;
  object-fit: cover;
  padding: 10px;
  margin: auto;
}

.quienes-somos {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.quienes-somos h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 3rem;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  text-align: center;
}

.quienessomos h1 {
  color: #000000;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 2;
}

.somos {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.5;
  font-weight: 200;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.descripcion {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.5;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
.descripcion div {
  flex: 0 0 calc(50% - 20px);
  padding: 50px;
  border-radius: 10px;
  background-color: rgba(32, 33, 36, 0.5137254902);
  margin-bottom: 20px;
}
.descripcion h2 {
  font-size: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.564);
  margin: 15px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  text-align: center;
}

/*Persentacion del equipo de trabajo*/
.nuestroh2 h2 {
  font-size: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.564);
  margin: 40px;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

div .card {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  margin: auto;
  background-color: rgba(32, 33, 36, 0.5137254902);
}

.card img {
  object-fit: cover;
  height: 500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3843137255);
}
.card b {
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.card p {
  display: block;
  text-align: center;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

/*Servicios que brindamos - Servicios site*/
main {
  margin: 0 auto;
  padding: 20px;
}

.ofrecemos h1 {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.containerofrecemos {
  display: flex;
  align-items: center;
  margin: 20px 10px;
}
.containerofrecemos .izquierda-img,
.containerofrecemos .derecha-img2 {
  flex: 0 0 40%;
  margin-right: 20px;
}
.containerofrecemos .izquierda-img img,
.containerofrecemos .derecha-img2 img {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.containerofrecemos .izquierda-img img,
.containerofrecemos .derecha-img2 img {
  width: 100%;
  border-radius: 10px;
}
.containerofrecemos .contenido h2 {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.containerofrecemos .contenido p {
  font-family: "Inter", sans-serif;
  font-weight: 1;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: initial;
}

/*Mixin de parrafos*/
/*criptomonedas*/
.contenedorcripto {
  text-align: center;
  margin: 10px;
  display: flex;
}
.contenedorcripto .izquierda-img,
.contenedorcripto .derecha-img2 {
  flex: 0 0 40%;
  margin-right: 20px;
}
.contenedorcripto .izquierda-img img,
.contenedorcripto .derecha-img2 img {
  width: 100%;
  border-radius: 10px;
}
.contenedorcripto .contenidocripto,
.contenedorcripto .contenido {
  text-align: center;
}
.contenedorcripto .contenidocripto h2,
.contenedorcripto .contenido h2 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-family: "Libre Franklin", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.contenedorcripto .contenidocripto p,
.contenedorcripto .contenido p {
  font-size: 1.5rem;
}
.contenedorcripto .contenidocripto .contenidoparrafo,
.contenedorcripto .contenido .contenidoparrafo {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
  text-align: center;
}
.contenedorcripto .criptoimg img {
  height: 500px;
  width: 800px;
  margin: 25px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.797);
}
.contenedorcripto p {
  text-align: center;
  font-family: "Inter", sans-serif;
}

.button {
  background-color: rgba(164, 43, 49, 0.8156862745);
  font-family: "Libre Franklin", sans-serif;
  font-size: 25px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 1rem;
  width: 400px;
  height: 150px;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
  margin-bottom: 150px;
}
.button .button:hover {
  background-color: #591518;
  cursor: pointer;
  transition: 0.3s;
}

/*Formulario*/
main {
  padding: 0%;
}
main .form-container {
  display: block;
}
main .form-container form {
  width: 700px;
  height: auto;
  margin-left: 50px;
  margin-top: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #585656;
  padding: 50px;
  border-radius: 20px;
  font-size: 25px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.797);
  font-family: "Inter", sans-serif;
}
main .form-container input, main .form-container textarea {
  margin-bottom: 25px;
}
main .h1form h1 {
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  margin-left: 15px;
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.564);
  font-family: "Libre Franklin", sans-serif;
}
main .botonenviar {
  width: 200px;
  height: 50px;
  align-items: center;
  margin: auto;
  border-radius: 20px;
  background-color: rgba(164, 43, 49, 0.8156862745);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.797);
  font-family: "Inter", sans-serif;
  border: none;
}
main .h2contacto {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  font-size: 250px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.564);
  font-family: "Inter", sans-serif;
}
main .containercontactocv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
  margin-bottom: 150px;
  font-family: "Inter", sans-serif;
}
main .seccion ul {
  text-align: center;
  flex-direction: column;
  background-color: #585656;
  padding: 100px;
  height: 400px;
  width: 450px;
  border-radius: 20px;
  text-align: left;
  font-size: 1.3rem;
  padding: 50px;
  font-family: "Inter", sans-serif;
}
main .h2cv {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.564);
  font-family: "Inter", sans-serif;
}

/*Medias queris para 1024px */
@media (max-width: 1024px) {
  .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-weight: 200;
  }
  .quienes-somos {
    text-align: center;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
  .grid-container {
    display: none;
  }
  .quienestexto {
    margin: 20px;
  }
  .derecha-img2,
  .izquierda-img {
    display: none;
  }
  .botonenviar {
    width: 90%;
    font-size: 1.3rem;
    border: none;
  }
  .containercontactocv {
    display: flex;
    flex-direction: column;
  }
  .h1form {
    text-align: center;
  }
  .contenido {
    text-align: center;
  }
}
/*Medias queris para 768px */
@media screen and (max-width: 768px) {
  .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-weight: 200;
  }
  .grid-container {
    display: none;
  }
  .quienestexto {
    margin: 20px;
  }
  .descripcion div {
    flex: 1 1 100%;
  }
  .quienes-somos h1 {
    font-size: 2rem;
  }
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
  .izquierda-img,
  .derecha-img2 {
    display: none;
  }
  .formcontainer .h1form {
    text-align: center;
  }
  .somos {
    text-align: center;
  }
  main {
    overflow: hidden;
  }
  main .form-container form {
    width: 90%;
  }
  main .h1form h1 {
    font-size: 1.5rem;
  }
  main .containercontactocv .seccion {
    width: auto;
    flex-direction: column;
  }
}
/*Medias queris para 468px */
@media (max-width: 468px) {
  .contable {
    display: none;
  }
  .contable .texto {
    font-size: 24px;
  }
  .button {
    width: 300px;
  }
  .principalesServicios {
    font-size: 2rem;
    margin: 10px 0;
  }
  .brindamos {
    font-size: 1rem;
  }
  .form-container .h1form h1 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 200;
    font-family: "Libre Franklin", sans-serif;
  }
  .form-container .form label {
    font-size: 16px;
  }
  .form-container .form input[type=text],
  .form-container .form textarea {
    font-size: 14px;
  }
  .form-container .form button.botonenviar {
    font-size: 14px;
  }
  .containercontactocv {
    flex-direction: row;
    justify-content: space-between;
    /* Espacio entre las secciones */
    gap: 10px;
    /* Espacio entre las secciones */
    margin-bottom: 50px;
    /* Margen inferior reducido */
  }
  .containercontactocv .seccion ul {
    width: 95%; /* Ancho reducido */
    padding: 10px; /* Padding reducido */
    margin: 5px; /* Margen reducido */
  }
  .containercontactocv .seccion ul li {
    list-style: none;
  }
}
@media (max-width: 375px) {
  .containercontactocv ul {
    margin: auto;
  }
  main .form-container form {
    width: 300px;
  }
  ul {
    justify-content: center;
  }
}

/*# sourceMappingURL=estilo.css.map */
