/*Servicios - HOME */

@mixin boton { 

    background-color: $colorboton;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 25px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 1rem;
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
}

@mixin parrafos { 

    
    font-family: $fontparatexto;
    font-weight: 200;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.ofrecemos { 

    text-align: center;
    h1{ 
        font-family: $fontparatexto;
    }

    .contenido { 
        text-align: left;
        p { 
            font-size: 50px;
            text-align: left;
        }        
    }
}
.principalesServicios {

    
    text-align: center;
    margin: 60px;
    @include parrafos; 
    font-family: $fontparatexto;
    

}
.containerservicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    margin: 20px;
    margin-top: 150px;
    div{ 
        text-align: center;
    }

}




.containerservicios img {
    padding: 5px;
    width: 110px;
    height: 110px;

    p{ 
        

    @include parrafos;
    font-family: $fontparatexto;

    }
}

.containerservicios p {


    @include parrafos;
    font-family: $fontparatexto;
    
}

.brindamos {
    display: flex;
    justify-content: center;
    text-align: center;
   

  p{ 
    padding: 20px;
    margin: 50px;
    @include parrafos;
    font-size: $fontparatexto;
  }
    
}



.informate {
    
    margin: 150px;
    padding: 10px;
    text-align: center;
   
    p {
      margin-bottom: 10px;
      font-weight: bold; 
      font-size: 2rem;      
      font-family: $fontparatexto;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

      
     }
  
    a {
      text-decoration: none;
      color: inherit;
      font-size: 2rem;
      color: #a42b31d0;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      &:hover {
        text-decoration: underline;
       color: #591518;
      }
    }
  

}

