/*Servicios - HOME */

@mixin boton {

    background-color: $colorboton;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 25px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 1rem;
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
}

@mixin parrafos {


    font-family: $fontparatexto;
    font-weight: 200;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.ofrecemos {

    text-align: center;

    h1 {
        font-family: $fontparatexto;
    }

    .contenido {
        text-align: left;

        p {
            font-size: 50px;
            text-align: left;
        }
    }
}

.principalesServicios {


    text-align: center;
    margin: 60px;
    @include parrafos;
    font-family: $fontparatexto;


}

.containerservicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    margin: 20px;
    margin-top: 150px;

    div {
        text-align: center;
    }

}




.containerservicios img {
    padding: 5px;
    width: 110px;
    height: 110px;

    p {


        @include parrafos;
        font-family: $fontparatexto;

    }
}

.containerservicios p {


    @include parrafos;
    font-family: $fontparatexto;

}

.brindamos {
    display: flex;
    justify-content: center;
    text-align: center;


    p {
        padding: 20px;
        margin: 50px;
        @include parrafos;
        font-size: $fontparatexto;
    }

}

.contenedor-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    /* Ajusta la altura según tu diseño */


    .informate {


        padding: 10px;
        width: 400px;
        margin: 0%;
        justify-content: center;
        text-align: center;

        p {
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 2rem;
            display: flex;
            text-align: center;

            margin: 0%;
            justify-content: center;
            font-family: $fontparatexto;
            


        }

        a {
            text-decoration: none;
            color: inherit;
            font-size: 2rem;
            color: #a42b31d0;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

            &:hover {
                text-decoration: underline;
                color: #591518;
            }
        }


    }
}